<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pollen.community">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.ReviewActivity"   android:theme="@style/AppTheme.NoActionBar" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider@string/FACEBOOK_APP_ID"
            android:exported="true" />

        <activity
            android:name=".Activity.OrderDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.CheckoutActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.ProductDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.ProductsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.CategoryActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.RestaurantDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.CartActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.RatingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.ProfilChangeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.AboutActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.WelcomeActivity"
            android:theme="@style/AppTheme.NoActionBarDark">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.accountkit.ApplicationName"
            android:value="@string/app_name" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/FACEBOOK_APP_ID" />
        <meta-data
            android:name="com.facebook.accountkit.ClientToken"
            android:value="@string/ACCOUNT_KIT_CLIENT_TOKEN" />

        <activity android:name="com.facebook.accountkit.ui.AccountKitActivity" />
        <activity
            android:name=".Activity.RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.StartActivity"
            android:theme="@style/AppTheme.NoActionBarDark" />
        <activity
            android:name=".Activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBarDark" />
    </application>

</manifest>